/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 
header {
    display: flex;
    align-items: center;
    position: static;
    height: 72px;
    min-height: 26px;
    width: 100%;
    top: -104px;
    right: 0px;
    left: 0px;
    background: transparent;
    border-bottom: none;
    z-index: 2;
    transition: top 0.3s ease 0s;    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 16px;
    justify-content: space-between;
}

.sign-in {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.25s ease 0s;
    transition: all 150ms ease 0s;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.sign-in:hover {
    opacity: 0.8;
}

.get-started {
    position: relative;
    width: auto;
    margin: 0px;
    margin-left: 16px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

.get-started:hover {
    color: rgb(38, 53, 67);
    background-color: rgb(255, 255, 255);
}




.login-signup {
    display: flex;
    align-items: center;
    flex-direction: row;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
} 

.home-body {
    background-color: rgb(22, 82, 240);
    height: 687px;
    margin: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.home-body-2 {
    background-color: rgb(22, 82, 240);
    height: 100vh;
    margin: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.bottom-blue {
    background-color: rgb(22, 82, 240);
    height: 1300px;
    margin: 0;
    
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}


element.style {
    --full-view-height: 567px;
}

html {
    box-sizing: border-box;
    height: -webkit-fill-available;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
* {
    box-sizing: border-box;
}


.cryptbase-logo, .cryptbase-logo>a {
    color: rgba(255, 255, 255, 255);
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.25s ease 0s;
    margin-right: 30px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
}

div {
    display: block;
}

.login-form-box {
    background: #fff;
    -webkit-box-shadow: 0 1px 46px -4px rgba(0,0,0,.28);
    box-shadow: 0 1px 46px -4px rgba(0,0,0,.28);
    border-radius: 4px;
}

.login-form-container {
    max-width: 400px;
    margin: 40px auto;
}

.login-form-container>h1 {
    margin-bottom: 40px;
    height: 34px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
    text-align: center;
    color: #fff;
}

.login-form {
    padding: 32px 24px;
    display: block;
}

.login-form .login-input{
    width: 100%;
    height: 42px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.02) inset;
    border-radius: 1px;
    padding: 9px;
    border: 1px solid #f1f3f5;
    display: inline-block;
    padding: 9px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
}

.login-session-submit {
    color: #fff;
    padding: 1em 2em;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1652f0),to(#0d40c6));
    background-image: -webkit-linear-gradient(#1652f0,#0d40c6);
    background-image: linear-gradient(#1652f0,#0d40c6);
    border-color: #137dba;
    font-size: 11px;
    text-transform: uppercase;
    height: 42px;
    letter-spacing: .05em;
    border-radius: 2px;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2.5px;
}

.login-session-submit-2 {
    color: #fff;
    padding: 1em 2em;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1652f0),to(#0d40c6));
    background-image: -webkit-linear-gradient(#1652f0,#0d40c6);
    background-image: linear-gradient(#1652f0,#0d40c6);
    border-color: #137dba;
    font-size: 11px;
    text-transform: uppercase;
    height: 42px;
    letter-spacing: .05em;
    border-radius: 2px;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2.5px;
}



.buy-and-sell {
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
}

.five-free {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-end;
    font-size: 28px;
    margin: 0px;
}

.intro {
    max-width: 600px;
    margin: 20px 0px 24px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.home-link-get-started {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    border: 1px solid rgb(46, 174, 52);
    background-color: rgb(46, 174, 52);
    text-decoration: none;
}

.main-body-home, .welcome-home-page {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 60px;
    justify-content: center;
}

.home-get-started {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 725px;
    justify-content: center;
}


#bitcoin-html {
    color: goldenrod;
    size: 24px;
}



.welcome-home-page {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-end;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.signup-form-container>h1 {
    margin-bottom: 40px;
    height: 34px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
    text-align: center;
    color: rgb(255, 255, 255);
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    padding: 24px;
    margin-bottom: 24px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.signup-input, .first-name-form, .last-name-form {
    z-index: 0;
    flex: 1 1 0px;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 3px;
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(5, 15, 25);
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 239, 241);
    border-radius: 4px;
    transition: all 0.15s ease 0s;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.first-last-name-form {
    display: flex;
    flex-direction: row;
}

.first-last-name-form input {
    width: 100%;
    display: flex;
}
.last-name-form {
    margin-left: 16px;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}


.nav-bar > * {
    flex-shrink: 0;
    margin-right: 24px;
    display: flex;
    align-items: center;
    
}

.nav-bar>div>a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.25s ease 0s;
}

#promotion {
    user-select: none;
    display: inline-flex;
    border-radius: 3px;
    background: rgb(5, 177, 105);
    color: rgb(255, 255, 255);
    align-self: center;
    position: relative;
    padding: 3px 8px;
    margin-left: 6px;
}

.homepage-spacer {
    margin: 24px 0px 28px;
}

#home-email-address {
    flex: 1 1 0%;
    margin-right: 10px;
    padding: 13px 16px 15px;
    border-radius: 4px;
    appearance: none;
    border: none;
    font-family: Graphik, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: rgb(11, 52, 102);
}

.home-email-address-div {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
}

.home-email-address {
    margin-top: 8px;
    width: 455px;
    display: flex;
    border-radius: 8px;
}


.temp-button {
    
    
    size: 100px;
    cursor: pointer;
}

.main-portfolio {
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 24px;
    background: rgb(246, 249, 252);
}







.portfolio-holder {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
 
}

.main-top-nav {
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid rgb(236, 239, 241);
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 5;
    margin-left: 237px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 68px;
    max-height: 68px;
    background-color: rgb(250, 251, 252);
    position: fixed;
}


.signed-in-body {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
    height: 100%;
}

.main-portfolio {
    min-height: var(--full-view-height,100vh);
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 24px;
    background: rgb(246, 249, 252);
}

.signup-session-submit {
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(22, 82, 240);
}

.signup-session-submit-2 {
    visibility: hidden;
    height: 0px;
}

.error-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    width: 300px;
    margin: auto;
    border-radius: 4px;
    line-height: 1.5;
}

.main-user-page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-left: 237px;
    padding-top: 68px;
    min-height: var(--full-view-height,100vh); 
}

.main-user-page-2 {
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 24px;
    background: rgb(246, 249, 252);
}

.price-detail-page *, .price-index * {
    box-sizing: inherit;
}


::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

.price-detail-title {
    border-bottom-color: rgb(53, 57, 59);
    width: 100%;
    margin: 40px 0px;
    border-bottom: 1px solid rgb(236, 239, 241);
    padding: 0px 24px;
}



.detail-main-section {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
    padding: 0px 24px;
}

#main-chart{
    display: flex;
    flex-direction: column;
    border-color: rgb(53, 57, 59);
    background-image: initial;
    background-color: rgb(24, 26, 27);
    box-shadow: rgba(14, 41, 66, 0.02) 0px 4px 12px 0px;
    display: flex;
    flex: 0 0 auto;
    height: 522;
    width: 1088;
    border: 1px solid rgb(236, 239, 241);
    background: rgb(255, 255, 255);
    overflow: visible;
    border-radius: 6px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
}

.chart-and-under {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    min-height: 310px;
    border: 1px solid rgb(236, 239, 241);
    background: rgb(255, 255, 255);
    overflow: visible;
    border-radius: 6px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    margin-bottom: 24px;
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

#buy-box-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 370px;
    margin-left: 24px;
}



.home-coins {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    margin: 0px auto;
    flex-direction: column;
    padding: 0px;
    max-width: 1142px;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    width: 100%;
    padding: 0px;
    background: rgb(255, 255, 255);
    border-spacing: 0px;
    border-collapse: separate;
    caption-side: top;

}


#coin-table-body {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#coin-table-body tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.coin-index-item * {
    
    border-top: 1px solid rgb(236, 239, 241);
    cursor: default;
    position: relative;
    width: 85px;
}

#t1-1, #t1-h1 {
    padding: 14px 0px 14px 32px;
    border-top: 1px solid rgb(236, 239, 241);
    cursor: default;
    position: relative;
    width: 85px;
}
#t1-2, #t1-h2 {
    padding: 14px 220px 14px 0px;
    border-top: 1px solid rgb(236, 239, 241);
    cursor: pointer;
    min-width: 140px;
}

#t1-3, #t1-h3 {
    padding: 14px 48px 14px 0px;
    border-top: 1px solid rgb(236, 239, 241);
    cursor: default;
    width: 132px;
}

#t1-4, #t1-h4 {
    padding: 14px 48px 14px 0px;
    border-top: 1px solid rgb(236, 239, 241); 
    cursor: default;
    width: 100px;
    margin-right: 20px;
    text-align: left;
}

#t1-5, #t1-h5 {
    border-top: 1px solid rgb(236, 239, 241);
    cursor: default;
    width: 100px;
    padding: 5px 25px 5px 5px;
}
#t1-6, #t1-h6 {
    padding: 14px 48px 14px 20px;
    border-top: 1px solid rgb(236, 239, 241);
    cursor: default;
    width: 70px;
}



#coin-table {
    width: 100%;
    padding: 0px;
    background: rgb(255, 255, 255);
    border-spacing: 0px;
    border-collapse: separate;
    caption-side: top;
}

#t1-head {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: left;
}

#coin-table-body * :not(#t1-1){
    padding: 14px 48px 14px 0px;
}


.price-index-title-h1 {
    margin: 0;
}

.price-index-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
}

.price-index-body {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0px;
    padding: 25px 0px;
    width: 100%;
    max-width: 1450px;
}

.price-index-section {
    width: 100%;
}

.price-index {
    border: 1px solid rgb(236, 239, 241);
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    width: auto;
    border-radius: 5px;
}

#price-table {
    width: 100%;
    padding: 0px;
    background: rgb(255, 255, 255);
    border-spacing: 0px;
    border-collapse: separate;
    caption-side: top;
}


#t2-head {
    border: none;
    display: table-header-group;
    vertical-align: middle;
}

#t2-head-row {
    border-bottom: 1px solid rgb(236, 239, 241);
    height: 53px;
}

.t2-h1 {
    padding: 16px 48px 16px 0px;
    text-align: left;
}

.header-wallet-value {
    padding: 16px 0px 16px 0px;
    text-align: left;
}

.t2-h1-new-h {
    padding: 16px 0px 16px 0px;
}

#grey-triangle {
    color: #B8C2CC;
}

#selected-triangle {
    color: #1652F0;
}

#sorting-triangles {
    display: flex;
    flex-direction: column;
    font-size: 7px;
    margin-left: 6px;
}


.t2-h1:first-child {
    padding-left: 32px;
}

.div-t2-h1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.div-t2-h1-hov{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 93px;
}

.label-t2-r1 {
    cursor: pointer;
}

.div-t2-usd{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.label-t2-h1 {
    font-weight: 400;
    white-space: nowrap;
     color: rgba(17, 51, 83, 0.6);
    font-size: 14px;
}

.label-t2-h1-h {
    font-weight: 400;
    white-space: nowrap;
     color: rgba(17, 51, 83, 0.6);
    font-size: 14px;
    cursor: pointer;
}

.label-t2-h1-h:hover {
    color:  rgb(22, 82, 240);

}

.label-t2-h1-h-2 {
    font-weight: 400;
    white-space: nowrap;
     color: rgba(17, 51, 83, 0.6);
    font-size: 14px;
    cursor: pointer;
}

.label-t2-h1-h-2:hover {
    color:  rgb(22, 82, 240);

}

th label {
    font-weight: 400;
    white-space: nowrap;
}

.t2-h2 {
    padding: 16px 48px 16px 0px;
    cursor: pointer;
    text-align: left;
}

.t2-body {
    padding: 0px;
    border: none;
    transition: opacity 300ms ease 0s;
}

.price-index-row {
    background: rgb(255, 255, 255);
    user-select: none;
    height: 72px;

}

.price-index-row:hover {
   background: rgb(250, 251, 252);
}

.t2-r1 {
    border-top: 1px solid rgb(236, 239, 241);
    cursor: pointer;
}

.josh {
    border-top: 1px solid rgb(236, 239, 241);
    cursor: pointer;
    width: 39vw;
}

.josh2 {
    padding: 14px 48px 14px 0px;
    border-top: 1px solid rgb(236, 239, 241);
    cursor: pointer;
    width: 45vw;
}

.t2-r1-usd {
    padding-left: 32px;
    border-top: 1px solid rgb(236, 239, 241)
}

.index-link {
    padding: 14px 48px 14px 0px;
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.index-link-wallet-value {
    padding: 14px 0px 14px 0px;
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.index-link-r-l {
    padding: 14px 22px 14px 0px;
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    text-align: center;
    flex-direction: row;
    cursor: pointer;
    color:black;
}

.index-link-num {
    padding: 14px 48px 14px 32px;
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.index-image {
    width: 36px;
    height: 36px;
}


.index-image-2 {
    padding: 0;
    margin: 8px;
}

#index-trade-button {
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(22, 82, 240);
}

#price-index-star {
    fill: rgb(244, 198, 34);
    stroke-width: 1px;
    cursor: pointer;
    font-size: 27px;
}

.price-index-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
}

#in-last-24 {
    display: block;
    color: rgba(17, 51, 83, 0.6);
    font-size: 14px;
    font-weight: 500;
}

#market-is {
    margin: 8px 0px 0px;
    color: rgb(5, 15, 25);
    font-size: 24px;
    font-weight: 500;
}

#nu-index-trade-button {
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(5, 177, 105);
    background-color: rgb(5, 177, 105);
}

.side-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    min-height: var(--full-view-height,100vh);
    z-index: 1;
    overflow-y: auto;
    min-width: 237px;
    max-width: 237px;
    border-right: 1px solid rgb(241, 243, 245);
    background: rgb(255, 255, 255);    
}

#logo-logged-in {
    padding-left: 16px;
    top: 0;
    margin-left: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 120px;
    color: rgb(22, 82, 240);
}

.side-nav h3 {
    margin-left: 16px;
    height: 22px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

ul li { 
    margin-bottom: 22px;
    text-decoration: none;
}

ul li a {    
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.side-nav-logged-in {
    margin: 18px 8px;
    list-style-type: none;
    padding: 0px;
}

.side-nav-li {
    margin-bottom: 22px;
    border-radius: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 8px;
    height: 48px;
    cursor: pointer;
}

.side-nav-links {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.25s ease 0s;
}

.selected-side-nav-links {
    color: rgb(22, 82, 240);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.25s ease 0s;
}

.side-nav-li:hover {
    background: rgb(246, 249, 252);
}

.side-div-1{
    display: flex;
    flex-direction: row;
    position: relative;
    align-self: center;
}

.side-div-2 {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 32px;
    background: rgb(241, 243, 245);
    border-radius: 50%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.side-image-new {
    width: 20px;
    height: 20px;
    fill: none;
}

.side-image-new-2 {
    width: 40px;
    height: 40px;
    fill: none;
}

.discover-more-assets {
    color: rgba(17, 51, 83, 0.6);
}

.discover-more-assets:hover {
    color: rgb(22, 82, 240);
}


.side-span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 720;
    margin-left: 16px; 
}


.top-nav-div-1 {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    padding-right: 16px;
    margin-bottom: 5px;
}

.top-nav-div-2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.top-nav-div-3 {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-shrink: 0;
}

.top-nav-div-3-3 {
    display: flex;
    flex-direction: row;
}

.top-nav-div-1-1 {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.top-nav-div-1-2 {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.iKhbZm {
    font-weight: 600;
    margin-left: 12px;
    height: 36px;
    padding: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 126px;
}

.top-nav-buy-sell {
    position: relative;
    width: 127px;
    margin-right: 7px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(22, 82, 240);
}

.span-top-buy-sell {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.logout-top-nav {
    font-weight: 600;
    margin-left: 12px;
    padding: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 125px;
    position: relative;
    margin: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(255, 255, 255);
    color: rgb(22, 82, 240);
}

.logout-span-top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.price-detail-body {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 1450px;
}

.portfolio-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 25px 0px;
    width: 100%;
    max-width: 1450px;
}

.portfolio-body-2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.portfolio-body-left {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-right: 24px;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
}



.portfolio-body-right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.portfolio-left-down-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}

.portfolio-left-down-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 24px;
}

.portfolio-left-chart {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    flex-direction: column;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.chart-box {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    
    position: relative;
    width: 100%;
    height: 519px;
}

.detail-page-separate {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-bottom: 32px;
    flex-direction: row;
    width: 100%;
}

.under-chart  {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
}

.under-under-chart {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
}

.under-under-under-chart {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 8px 24px;
    border-radius: 4px;
    margin: 0px -12px;
    height: 175px;
}

.div-under-chart {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 25%;
    margin: 14px 0px;
    padding-left: 12px;
}

.div-under-chart-12 {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 25%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 28px;
    margin-left: 0px;
    padding-left: 12px;
}

.div-under-chart-2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 28px;
    margin-left: 0px;
    padding-left: 12px;
}
.chart-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-under-text-1 {
    margin-bottom: 6px;
}

.chart-div-label {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: rgba(17, 51, 83, 0.6);
    transition: color 80ms ease-in-out 0s;
}

.span-under-text {
    font-size: 18px;
    font-weight: 400;
    color: rgb(5, 15, 25);
}

.div-under-text-2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

#holding-chart {
    position: relative;
    width: 100%;
    
}


.span-under-text-r {
    text-transform: uppercase;
} 

.buy-box-main {
    display: flex;
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    border-right: 1px solid rgb(236, 239, 241);
    border-bottom: 1px solid rgb(236, 239, 241);
    border-left: 1px solid rgb(236, 239, 241);
    border-image: initial;
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    border-top: none;
    margin-bottom: 24px;
    height: 544px;
    z-index: 4;
}

.order-h4 {
    line-height: 1;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin: 0px 0px 8px 16px;
}

.order-right {
    line-height: 1;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-left: auto;
    position: absolute;
    right: 24px;
}

.order-image-div {
    min-width: 42px;  
}

.order-p {
    line-height: 1;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgba(17, 51, 83, 0.6);
    display: block;
    margin: 10px 0px 0px 16px;
    
}


.coin-order-image {
    flex-shrink: 0;
    fill: rgba(17, 51, 83, 0.6);
    width: 36px;
    height: 36px;
}

.buy-box-main-modal {
    display: flex;
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    border-top: none;
    margin-bottom: 24px;
    top: 50%;
    left: 50%;
    position: absolute;
    min-height: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    align-items: center;
    justify-items: center;
    display: flex;
}

#buy-box-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}



.buy-box-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0%;
    min-width: 0px;
}

.buy-box-3 {
    display: flex;
    flex: 1 1 0%;
    z-index: 0;
    transition: z-index 0ms ease-out 1000ms;
}

.buy-box-4 {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
}

.buy-box-5 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
}

.buy-box-6 {
    display: flex;
    user-select: none;
    background-color: rgb(255, 255, 255);
    align-self: stretch;
    flex-direction: column;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    max-width: 100%;
}

.buy-sell-convert {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    min-height: 64px;
}

.buy-sell-selected  {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid rgb(22, 82, 240);
    display: flex;
    flex-direction: row;
    user-select: none;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: rgb(22, 82, 240);
    background-color: rgb(255, 255, 255);
    border-bottom: none;

}

.buy-sell-not-selected {
    display: flex;
    flex-direction: row;
    user-select: none;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid rgb(236, 239, 241);
    padding-top: 2px;
    color: rgba(17, 51, 83, 0.6);
    background-color: rgba(17, 51, 83, 0.02);
    border-top: 1px solid rgb(236, 239, 241);
}

#trading-image {
    height: 85px;
    width: 85px;
}

#trading-image-div{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 60px;
    flex-direction: row;
}

.convert-select {
    display: flex;
    flex-direction: row;
    user-select: none;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid rgb(236, 239, 241);
    padding-top: 2px;
    color: rgba(17, 51, 83, 0.6);
    background-color: rgba(17, 51, 83, 0.02);
    border-top: 1px solid rgb(236, 239, 241);
}

.buy-box-body {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    flex: 1 0 0%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-top: 48px;
}

.buy-box-body-inside {
    display: flex;
    flex-direction: column;
}

.input-quantity-area {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 60px;
    flex-direction: row;
    overflow: hidden;
    height: 60px;
}

.one-time-purchase-1 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 60px;
    flex-direction: row;
}

.you-can-buy-up-to {
    color: rgba(17, 51, 83, 0.6);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 16px 0px;
}

.buying-selling-error {
    color: #b94a48;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: block;
    width: 100%;
    margin: 16px 0px;
}

.one-time-purchase-2 {
    cursor: pointer;
    border-radius: 18px;
    border: none;
    outline: none;
    height: 36px;
    display: flex;
    padding: 0px 16px;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(233, 246, 255);
}

.input-quantity-area-2 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    transform: scale(1);
    flex: 1 1 0%;
    max-width: 100%;
}

.input-quantity-area-3 {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: left;
    color: rgb(22, 82, 240);
    font-weight: 400;
    width: 100%;
}

.input-quantity-input {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 62px;
    text-align: left;
    color: rgb(22, 82, 240);
    font-weight: 400;
    width: auto;
    min-width: 1px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border: none;
    overflow: hidden;
    outline: none;
    background: rgb(255, 255, 255);
}

.input-span-buy {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: rgba(17, 51, 83, 0.3);
    font-size: 31px;
    line-height: 1.5;
    align-self: flex-start;
    margin-top: 8px;
}

.buy-sell-button {
    position: relative;
    width: 100%;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(22, 82, 240);
    margin-bottom: 2px;
}

.buy-sell-button-span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.buy-box-bottom {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 0px 24px;
    min-height: 56px;
    width: 100%;
}

.balance-buy-box {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgba(17, 51, 83, 0.6);
}

.balance-buy-box-2 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.balance-buy-box-2 {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(5, 15, 25);
    text-transform: uppercase;
}


#floating-price {
    position: absolute;
    left: 420px;
    top: 280px;
}

.wallets-header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
                        
                        
.your-assets-1 {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.your-assets-top {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-bottom: none;
}

.your-assets-header {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 22px;
    font-weight: 575;
    align-self: flex-start;
    padding-left: 24px;
}
.your-assets-header-2 {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 24px;
    font-weight: 575;
    align-self: flex-start;
    padding-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
}


.detail-header {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    margin-bottom: 24px;
    min-height: 63px;
    justify-content: space-between;
}

.detail-header-image-div {
    height: 46px;
}

.lil-detail-image {
    width: 46px;
    height: 46px;
}

.name-and-sym-detail {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-wrap: wrap;
}

.detail-name-main {
    margin-right: 14px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 32px;
    font-weight: 500;
}

.detail-sym-main {
    font-size: 26px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgba(17, 51, 83, 0.6);
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}

.overview {
    cursor: pointer;
    font-weight: 500;
    transition: color 300ms ease 0s, border-color 300ms ease 0s;
    color: rgb(5, 15, 25);
    padding-bottom: 22px;
    -webkit-tap-highlight-color: transparent;
    border-bottom: 2px solid black;
    width: 71px;
}

.div-t2-new {
    width: 100%;
}

.div-t2-r1 {
    cursor: pointer;
}

.div-t2-new-h {
    -webkit-box-align: center;
    text-align: center;
    width: 100%
}

.order-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
}


.order-header-h3 {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


.order-header-div {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 16px 24px;
    border-bottom: 1px solid rgb(236, 239, 241);
    border-top: none;
    flex-shrink: 0;
}

.order-body-div-1 {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
}

.order-body-div-2 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
}


.order-row-item {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 16px 24px;
    border-bottom: 1px solid rgb(236, 239, 241);
    border-top: none;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    justify-content: flex-start;
    font-weight: 400;
}

.watchlist-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    height: 54px;
    padding: 0px 24px;
    border-bottom: 1px solid rgb(236, 239, 241);
}

.row-div {
    border-right-color: rgb(53, 57, 59);
    flex: 1 1 auto;
    position: relative;
    width: 33.3333%;
    max-width: 33.3333%;
    border-right: 1px solid rgb(236, 239, 241);
}

.watchlist-body {
    display: flex;
}

.mini-holding-chart {
    border-bottom: 1px solid rgb(236, 239, 241);
    width: 100%;
    
}

.watchlist-h2 {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 500;
}

.mini-chart-image {
    height: 24px;
    width: 24px;
}


.div-inside-mini-chart {
    position: inherit;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-top: 4px;
    margin-left: 5px;
}

.div-inside-mini-chart-2 {
    position: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 25px;
}

.mini-coin-name {
    align-items: center;
    width: 122px;
    display: flex;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(5, 15, 25);
    transition: color 80ms ease-in-out 0s;
}

.mini-coin-name-2 {
    align-items: center;
    width: 122px;
    display: flex;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(5, 15, 25);
    transition: color 80ms ease-in-out 0s;
}


.mini-coin-price {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 20px;
    font-weight: 500;
}

.mini-coin-price-2 {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 50px;
    font-weight: 349;
}

.hr-24-mini {
    color: rgba(17, 51, 83, 0.6);
    font-size: 11px;
    margin-bottom: 5px;
}

.hr-24-mini-2 {
    margin-bottom: 23px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(17, 51, 83, 0.3);
    cursor: pointer;
    transition: color 200ms ease-in-out 0s;
}

.hr-24-mini-2:hover {
    color: black;
}


.watchlist-bottom {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    height: 54px;
    border-top: 1px solid rgb(236, 239, 241);
    font-weight: 500;
    color: rgba(17, 51, 83, 0.6);
    transition: all 0.25s ease 0s;
    cursor: pointer;
    padding-bottom: 7px;
}

.inside-mini-box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inside-mini-box-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 220px;
    justify-content: space-evenly;
}

.inside-mini-box-1-1 {
    display: flex;
    flex-direction: row;
}

.mini-change-percentage-2 {
    padding-left: 14px;
    font-size: 22px;
    padding-top: 11px;
}

.login-session-submit-line {
    display: flex;
    justify-content: space-between;
}

.signup-session-submit-line {
    display: flex;
    flex-direction: column-reverse;
}



.order-list {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

#coin-info-box {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
}

#coin-info-box-2 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
}

#coin-info-box-3 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

#coin-info-margin-bottom {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    overflow: hidden;
    background: white;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 6px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    flex-direction: row;
}

#coin-info-padding {
    flex: 1 1 auto;
    padding: 32px;
    background: rgb(255, 255, 255);
    border-top: none;
    border-bottom: none;
    margin-bottom: 0px;
}

#news-detail {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
}

#news-detail-2 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 1;
}

#news-detail-3 {
    width: 100%;
}

#news-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    border: 1px solid rgb(236, 239, 241);
    border-radius: 6px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    padding: 32px 32px 0px;
    background: rgb(255, 255, 255);
}

#news-h2 {
    margin-bottom: 16px;
    margin-top: 0px;
    padding: 0px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 22px;
    font-weight: 500;
    display: block;
}



#news-article {
    opacity: 1;
    transition: opacity 200ms ease-in 0s;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
    padding: 24px 0px;
    border-bottom: 1px solid rgb(236, 239, 241);    
}

#news-div-1 {
    flex: 1 1 0%;
}

#news-photo-link {
    display: flex;
    flex: 0 0 auto;
    color: rgba(17, 51, 83, 0.6);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.25s ease 0s;
}

#news-photo-link:hover {
    color: rgb(22, 82, 240);
}

#news-title-link {
    display: inline-block;
    margin: 0px 0px 8px;
    color: rgba(17, 51, 83, 0.6);
    font-size: 16px;
    text-decoration: none;
    transition: color 0.25s ease 0s;
}

#news-title-h3 {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.3;
    color: rgb(5, 15, 25);
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: 0px;
}


.two-stars-detail {
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(236, 239, 241);
    background-color: rgb(255, 255, 255);
    color: rgb(5, 15, 25);
}

.two-stars-detail *:hover {
    color: rgb(22, 82, 240);
} 



.detail-watchlist-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: black;
}

/* .detail-watchlist-button:hover {
    color: rgb(22, 82, 240);
} */

.watchlist-add-here {
    stroke-width: 1px;
    cursor: pointer;
}

svg {
    fill: none;
    height: 23;
    width: 24;
}

.span-wat-ch {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 16px;
}

.star-here-filled {
    fill: rgb(244, 198, 34);
    stroke-width: 1px;
    cursor: pointer;
}
.star-here-filled path {
    stroke: rgb(244, 198, 34);
}



.header-and-image-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}