/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* @import url(//db.onlinewebfonts.com/c/225b22c7518d7553e706ace4943e37d7?family=FF+Daxline); */

header {
    display: flex;
    align-items: center;
    position: static;
    height: 72px;
    min-height: 26px;
    width: 100%;
    top: -104px;
    right: 0px;
    left: 0px;
    background: transparent;
    border-bottom: none;
    z-index: 2;
    transition: top 0.3s ease 0s;    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 16px;
    justify-content: space-between;
}

.sign-in {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.25s ease 0s;
    transition: all 150ms ease 0s;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.sign-in:hover {
    opacity: 0.8;
}

.get-started {
    position: relative;
    width: auto;
    margin: 0px;
    margin-left: 16px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

.get-started:hover {
    color: rgb(38, 53, 67);
    background-color: rgb(255, 255, 255);
}




.login-signup {
    display: flex;
    align-items: center;
    flex-direction: row;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
} 

.home-body {
    background-color: rgb(22, 82, 240);
    /* height: 100%; !TEMPORARY*/   
    height: 1000px;
    margin: 0;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}


element.style {
    --full-view-height: 567px;
}

html {
    box-sizing: border-box;
    height: -webkit-fill-available;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
* {
    box-sizing: border-box;
}


.cryptbase-logo, .cryptbase-logo>a {
    color: rgba(255, 255, 255, 255);
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.25s ease 0s;
    margin-right: 30px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
}

div {
    display: block;
}

.login-form-box {
    background: #fff;
    -webkit-box-shadow: 0 1px 46px -4px rgba(0,0,0,.28);
    box-shadow: 0 1px 46px -4px rgba(0,0,0,.28);
    border-radius: 4px;
}

.login-form-container {
    max-width: 400px;
    margin: 40px auto;
}

.login-form-container>h1 {
    margin-bottom: 40px;
    height: 34px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
    text-align: center;
    color: #fff;
}

.login-form {
    padding: 32px 24px;
    display: block;
}

.login-form .login-input{
    width: 100%;
    height: 42px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.02) inset;
   
    border-radius: 1px;
    padding: 9px;
    
    border: 1px solid #f1f3f5;

    display: inline-block;
    padding: 9px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;

}

.login-session-submit {
    color: #fff;
    padding: 1em 2em;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1652f0),to(#0d40c6));
    background-image: -webkit-linear-gradient(#1652f0,#0d40c6);
    background-image: linear-gradient(#1652f0,#0d40c6);
    border-color: #137dba;
    font-size: 11px;
    text-transform: uppercase;
    height: 42px;
    letter-spacing: .05em;
    border-radius: 2px;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2.5px;
}


.buy-and-sell {
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
}

.five-free {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-end;
    font-size: 28px;
    margin: 0px;
}

.intro {
    max-width: 600px;
    margin: 20px 0px 24px;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.home-link-get-started {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    border: 1px solid rgb(46, 174, 52);
    background-color: rgb(46, 174, 52);
    text-decoration: none;
}

.main-body-home, .welcome-home-page {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 60px;
    justify-content: center;
}

.home-get-started {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 725px;
    justify-content: center;
}


#bitcoin-html {
    color: goldenrod;
    size: 24px;
}



.welcome-home-page {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-end;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* max-width: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    padding: 24px;
    margin-bottom: 24px; */
}

.signup-form-container>h1 {
    margin-bottom: 40px;
    height: 34px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
    text-align: center;
    color: rgb(255, 255, 255);
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    padding: 24px;
    margin-bottom: 24px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.signup-input, .first-name-form, .last-name-form {
    z-index: 0;
    flex: 1 1 0px;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 3px;
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(5, 15, 25);
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 239, 241);
    border-radius: 4px;
    transition: all 0.15s ease 0s;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.first-last-name-form {
    display: flex;
    flex-direction: row;
}

.first-last-name-form input {
    width: 100%;
    display: flex;
}
.last-name-form {
    margin-left: 16px;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}


nav > * {
    flex-shrink: 0;
    margin-right: 24px;
    display: flex;
    align-items: center;
    
}

nav>div>a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.25s ease 0s;
}

#promotion {
    user-select: none;
    display: inline-flex;
    border-radius: 3px;
    background: rgb(5, 177, 105);
    color: rgb(255, 255, 255);
    align-self: center;
    position: relative;
    padding: 3px 8px;
    margin-left: 6px;
}

.homepage-spacer {
    margin: 24px 0px 28px;
}

#home-email-address {
    flex: 1 1 0%;
    margin-right: 10px;
    padding: 13px 16px 15px;
    border-radius: 4px;
    appearance: none;
    border: none;
    font-family: Graphik, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    color: rgb(11, 52, 102);
}

.home-email-address-div {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
}

.home-email-address {
    margin-top: 8px;
    width: 455px;
    display: flex;
    border-radius: 8px;
}

.side-nav {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    min-height: var(--full-view-height,100vh);
    z-index: 1;
    overflow-y: auto;
    min-width: 237px;
    max-width: 237px;
    border-right: 1px solid rgb(241, 243, 245);
    background: rgb(255, 255, 255);
    /* margin: 18px 8px; */
}

.temp-button {
    
    
    size: 100px;
    cursor: pointer;
}

.main-dashboard {
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 24px;
    background: rgb(246, 249, 252);
}


.side-nav ul {
    margin: 18px 8px;
    list-style-type: none;
    position: absolute;
    padding: 0px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.side-nav h3 {
    margin-left: 16px;
    min-height: 68px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

ul li { 
    margin-bottom: 22px;
}

#logo-logged-in {
    position: absolute;
    padding-left: 5px;
    position: absolute;
    top: 0;
}

.dashboard-holder {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
 
}

.main-top-nav {
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid rgb(236, 239, 241);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    margin-left: 237px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 68px;
    max-height: 68px;
    background-color: rgb(250, 251, 252);
}


.signed-in-body {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none 0s ease 0s;
    height: 100%;
}

.main-dashboard {
    min-height: var(--full-view-height,100vh);
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 24px;
    background: rgb(246, 249, 252);
}

.signup-session-submit {
    position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 80ms ease-in-out 0s;
    padding: 24px;
    font-size: 16px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(22, 82, 240);
}

.error-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    width: 300px;
    margin: auto;
    border-radius: 4px;
    line-height: 1.5;
}